.time-table {
  border-collapse: collapse;
  user-select: none;
}

.time-table-cell {
  min-width: 100px;
  text-align: right;
  color:#424242;
  font-size: 0.5rem;
  font-style: normal;
  line-height: 1.5rem;
  height: 1rem;
  border: 1px solid white;
}
.table-header {
  color :#424242;
  hyphens: auto;
}
.table-header-day {
  color :#424242;
  font-size: 2rem;
  text-align: center;
}
.table-header-date {
  font-size: 1rem;
  text-align: center;
}
.table-drag-select-container {

  flex-grow: 1;
  overflow-x:auto;
  overflow-y:hidden;
}
.container {
  width: 50%;
  display:flex;
  margin-left:auto;
  margin-right:auto;
}
.table-drag-select {
    /* Keep columns same width */
    table-layout: fixed;
    /* Disable text selection */
    user-select: none;
    /* Remove space between border */
    border-collapse: collapse;
  }
  
  /* Table cells */
  .table-drag-select td {
    text-align: center;

    /* Make transparent gaps between cells. Better than relying on margin
     * because clicking an element's margin doesn't trigger events */
    
    background-clip: padding-box;
    /* Make cells reasonable size */
    line-height: 1rem;
    /* Shows more text when text too big to fit into cell */
    padding-left: 0rem;
    padding-right: 0rem;
    border: 1px solid #cacaca;
    border-left: 3px solid #e1e3e6;
    border-right: 3px solid #e1e3e6;
    width: 120px;
    min-width: 120px;
    height: 1rem;
  }
  
  /* Cells that can be interacted with */
  .table-drag-select td.cell-enabled {
    background-color: rgb(255, 255, 255);
    /* Make the cursor a + symbol */
    cursor: cell;
  }
  
  /* Cells that cannot be interacted with */
  .table-drag-select td.cell-disabled {
    /* Put yer css here */
  }
  
  /* Cells that have been selected */
  .table-drag-select td.cell-selected {
    background-color: #48864d;
    border-top: 1px solid #48864d;
    border-bottom: 1px solid #48864d;
  }
  
  /* Cells that are in the process of being selected */
  .table-drag-select td.cell-being-selected {
    /* This is the blue color you see when you select text with the cursor */
    background-color: #69c771;
    border-top: 1px solid #69c771;
    border-bottom: 1px solid #69c771;
  }

  .table-drag-select td.cell-being-deselected {
    /* This is the blue color you see when you select text with the cursor */
    background-color: rgb(177, 177, 177);
    border-top: 1px solid rgb(177, 177, 177);
    border-bottom: 1px solid  rgb(177, 177, 177);
    
  }

  