.create-form {
    padding-top: 2rem;
    margin: auto;
    text-align: center;
    width: 80%;
}
.create-form-container {
    width: 100%;
}

.event-name-input {
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.event-description-input {
    width: 100%;
    text-align: center;
}

.text-input-container {
    display: inline-block;
}

.day-selector-container {
    color: white;
    padding-top: 1rem;
    background-color: var(--third);
    border-radius: 25px;
    box-shadow: 4px 4px 20px -16px rgba(0,0,0,0.75);
    display: inline-block;
    min-width: 22rem;
    margin-bottom: 1rem;
}

.select {
    display: inline;
}

.time-container {
    color: white;
    font-style: oblique;
}

.days-wrapper {
    padding-top: 1rem;
}

.day-container {
    text-align: center;
    display: inline-block;
    padding-left: 1rem;
}

.day-label {
    display: block;
    user-select: none;
}

.day {
    appearance: none;
    -webkit-appearance: none;
    width: 2rem;
    height: 7rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
	display: inline-block;
    position: relative;
    transition: 0.3s;
}

.day:hover {
    background-color: #c5d3e3;
}

.day:checked, .day:active, .day:checked:active {
    background-color: var(--highlight);
}

.day:checked:hover {
    background-color: #86dbda;
}

.time-select-container {
    display: inline;
}