@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --second: #3A506B;
  --highlight: #5BC0BE;
  --alert: #bf6068;
}
a {
  color : var(--highlight)
}
html {
  font-family: 'Roboto', 'Arial', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  transition-duration: 0.3s;
}
input[type=text]:focus {
  outline: none;
  border-bottom: 2px solid var(--highlight);
}

input[type="radio"] {
  margin-right: 0.3rem;
}

.error {
  color: var(--alert);
  font-size: 1rem;
  height: 2rem;
  user-select: none;
  text-align: center;
}

.footer {
  background-color: var(--second);
  color: white;
  width: 100%;
  text-align: center;
}

.background{
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.button-important {
  background-color: var(--highlight);
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 2rem;
  font-weight: bold;
  transition: 0.3s;
}
.button-important:hover {
  background-color: #99c2de;
}

.button-important:focus {
  background-color: #7777a8;
}